= form_for [:admin, @article], :html => { :multipart => true } do |f|
  =error_messages_for @article

  .field
    = f.label :title
    %br/
    = f.text_field :title

  .field.tinymce
    = f.label :intro
    %br/
    = f.text_area :intro, class: 'tinymce'

  .field.tinymce
    = f.label :content
    %br/
    = f.text_area :content

  .field
    = f.label :image
    %br/
    = f.file_field :image

  .field
    = f.label :banner
    %br/
    = f.file_field :image

  .actions
    = f.submit
