= form_for [:admin, @article], :html => { :multipart => true } do |f|

  = error_messages_for @article

  = f.label :title
  = f.text_field :title

  = f.label :intro
  = f.text_area :intro, class: 'tinymce'

  = f.label :content
  = f.text_area :content

  = f.label :image
  = f.file_field :image

  = f.label :banner
  = f.file_field :banner

  = render partial: 'admin/has_page/form', locals: {f: f }

  %br
  = f.submit
