= form_for([:admin, @widget]) do |f|
  = error_messages_for @widget
  = f.hidden_field :page_id
  = f.hidden_field :slot
  = f.hidden_field :resource_id
  = f.hidden_field :resource_type

  %h2 New Content
  %ul
    - [News, Map, Article].each do |klass|
      %li
        %a{ href: [:admin, :new, klass] }
          New
          = klass.to_s

  - [@news, @maps, @articles].each do |collection|
    - if collection.length > 0
      %h2= collection[0].class.to_s.pluralize.titleize
      %ul.content
        - collection.each do |resource|
          %li
            %a{ href: "#", data: { resource_type: resource.class.to_s, resource_id: resource.id } }
              = resource.title

  = f.submit
