= form_for([:admin, @widget]) do |f|
  = error_messages_for @widget
  = f.hidden_field :page_id
  = f.hidden_field :slot
  = f.hidden_field :resource_id
  = f.hidden_field :resource_type

  - [@news, @maps, @articles, @images].each do |collection|
    - if collection.length > 0
      %h2= collection[0].class.to_s.pluralize.titleize
      %ul.content
        - collection.each do |resource|
          %li
            %a{ href: "#", data: { resource_type: resource.class.to_s, resource_id: resource.id } }
              = resource.title

  = f.submit
