<%= form_for(@metadatum) do |f| %>
  <% if @metadatum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metadatum.errors.count, "error") %> prohibited this metadatum from being saved:</h2>

      <ul>
      <% @metadatum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :page_id %><br>
    <%= f.number_field :page_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :keywords %><br>
    <%= f.text_area :keywords %>
  </div>
  <div class="field">
    <%= f.label :og_title %><br>
    <%= f.text_field :og_title %>
  </div>
  <div class="field">
    <%= f.label :og_description %><br>
    <%= f.text_area :og_description %>
  </div>
  <div class="field">
    <%= f.label :primary_widget_id %><br>
    <%= f.number_field :primary_widget_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
