!!!
= render partial: "layouts/jesus"
%html
  %head
    = render partial: "layouts/stylesheets"
    = render partial: "layouts/javascripts"
    = render partial: "layouts/metadata"
  %body{body_attributes}
    = render partial: 'admin/new_content_links'
    = render partial: "layouts/header"
    = render partial: "layouts/flash"
    = yield
    = render partial: "layouts/footer"
